<h1>My tasks</h1>

<ul class="list-group mb-2">
  <% @tasks.each do |task| %>
  <li class="list-group-item d-flex justify-content-between">
    <div>
    <input type="checkbox" <%= task.completed ? "checked" : "" %> onclick="return false">
    <%= link_to task.title, task_path(task)  %>
    </div>
    <%= link_to icon('fas', 'trash'),
                task_path(task),
                method: :delete,
                data: { confirm: "Delete #{task.title}?" }  %>
  </li>
  <% end %>
</ul>

<%= link_to icon('fas', 'plus', 'Add a new task'), new_task_path, class: "pl-4"  %>